configuration (  
        master_exec_path = "/usr/local/synopsys/icvalidator/O-2018.12-SP2-9/bin/LINUX64_L26el/icv_master",
        slave_exec_path = "/usr/local/synopsys/icvalidator/O-2018.12-SP2-9/bin/LINUX64_L26el/icv_slave",
        engine_exec_path = "/usr/local/synopsys/icvalidator/O-2018.12-SP2-9/bin/LINUX64_L26el/icv_engine",
        working_directory = "/home/tempmaj/kokurita/eecs168/pvjob_mylibrary.ringOscillator.icv.lvs",
        run_details_directory = "/home/tempmaj/kokurita/eecs168/pvjob_mylibrary.ringOscillator.icv.lvs/run_details",
        group_directory = "/home/tempmaj/kokurita/eecs168/pvjob_mylibrary.ringOscillator.icv.lvs/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { bender.engr.ucr.edu, ""},
                 { bender.engr.ucr.edu, ""},
                 }
);
